docs/n8n-workflows/05_william_trading_sleep_decisions_pipeline.json
{
  "name": "William - Trading Sleep Decisions Pipeline",
  "nodes": [
    {
      "parameters": {
        "path": "william-market-close",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "Webhook_MarketClose",
      "name": "Webhook Market Close",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [220, 260]
    },
    {
      "parameters": {
        "url": "={{$env.WILLIAM_API_BASE_URL + '/integrations/trade'}}",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Authorization", "value": "={{'Bearer ' + $env.WILLIAM_API_KEY}}"}]},
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { symbol: $json.body.symbol || 'NIFTY', action: $json.body.action || 'buy', quantity: Number($json.body.quantity || 1), price: Number($json.body.price || 0), exchange: $json.body.exchange || 'NSE' } }}"
      },
      "id": "POST_Trade",
      "name": "POST /integrations/trade",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 160]
    },
    {
      "parameters": {
        "url": "={{$env.WILLIAM_API_BASE_URL + '/integrations/sleep'}}",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Authorization", "value": "={{'Bearer ' + $env.WILLIAM_API_KEY}}"}]},
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { sleep_date: $now.toISODate(), bedtime: $now.minus({hours: 8}).toISO(), wake_time: $now.toISO(), sleep_quality: 7, source_device: 'n8n' } }}"
      },
      "id": "POST_Sleep",
      "name": "POST /integrations/sleep",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 260]
    },
    {
      "parameters": {
        "url": "={{$env.WILLIAM_API_BASE_URL + '/integrations/decision'}}",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Authorization", "value": "={{'Bearer ' + $env.WILLIAM_API_KEY}}"}]},
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { title: 'Post-market review', description: 'Review risk and next session plan', decision_type: 'trading', options: [{name: 'reduce-risk'}, {name: 'hold-plan'}], criteria: [{name: 'drawdown', weight: 0.6}, {name: 'consistency', weight: 0.4}] } }}"
      },
      "id": "POST_Decision",
      "name": "POST /integrations/decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 360]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, message: 'Pipeline executed' } }}"
      },
      "id": "Respond_OK",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [780, 260]
    }
  ],
  "connections": {
    "Webhook Market Close": {
      "main": [
        [{"node": "POST /integrations/trade", "type": "main", "index": 0}],
        [{"node": "POST /integrations/sleep", "type": "main", "index": 0}],
        [{"node": "POST /integrations/decision", "type": "main", "index": 0}]
      ]
    },
    "POST /integrations/trade": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]},
    "POST /integrations/sleep": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]},
    "POST /integrations/decision": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "versionId": "1"
}
